// 侧边栏
.aside {
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background: #0e1850;
    font-size: 16px;
    color: #b6c3de;
    // transition: all 0.3s;
    &.shink {
        width: 60px;
        .shink_aside {
            display: block;
        }
        .normal_aside {
            display: none;
        }
        .aisdeLogo {
            .shink_logo {
                display: block;
            }
            .aside_logo {
                display: none;
            }
        }
    }
    .aisdeLogo {
        height: 120px;
        // padding: 25px 52px 0px 52px;
        text-align: center;
        padding-top: 20px;
        .shink_logo {
            display: none;
        }
    }
    .normal_aside {
        .item {
            cursor: pointer;
            .firstMenu {
                border:1px solid #17236a;
                padding-left: 19px;
                a {
                    display: inline-block;
                    color: #b6c3de;
                    width: 105px;
                    height: 53px;
                    line-height: 53px;
                    text-align: center;
                    vertical-align: middle;
                }
                .icon-jiantouxia {
                    display: none;
                }
                .icon-jiantoushang {
                    display: inline-block;
                    transition: all 0.3s;
                    font-size: 12px;
                }
            }
            .item_bd {
                display: none;
                li {
                    height: 38px;
                    background: #1c286d;
                    line-height: 38px;
                    text-align: center;
                    border-bottom: 1px solid #0e1850;
                    font-size: 14px;
                }
            }
            &.active {
                .item_bd {
                    display: block;
                }
                .firstMenu .icon-jiantoushang {
                    transform: rotate(180deg);
                }
            }
        }
    }
    .shink_aside {
        display: none;
    }
    
}
// 头部
.topbar {
    height: 60px;
    position: fixed;
    top: 0;
    left: 200px;
    right: 0;
    // transition: all 0.3s;
    background: #fff;
    &.shink {
        left: 60px;
    }
    .closed {
        display: inline-block;
        font-size: 18px;
        font-weight: bold;
        color: #0e1850;
        margin: 15px 29px 0 29px;
        cursor: pointer;
    }
    .topRight {
        float: right;
        padding-right: 42px;
        padding-top: 18px;
        color: #0e1850;
        a {
            display: inline-block;
        }
        .warn {
            margin-right: 20px;
        }
        .userPart {
            margin-left: 58px;
            .arrow{
                display: inline-block;
                padding-left: 9px;
            }
        }
    }
}
// 内容
.content {
    height: 1000px;
    background: #f6f6f6;
    margin-top: 60px;
    margin-left: 200px;
    // transition: all 0.3s;   
    &.shink {
        margin-left: 60px;
    }

}