.top {
  height: 46px;
  padding-top: 14px;
  box-shadow: 0px 2px 8px #e4e4e4;
}

.top .topLeft {
  margin-left: 60px;
}

.top .topRight {
  float: right;
  margin-right: 42px;
}

.top .topRight a {
  display: inline-block;
  color: #000;
}

.top .topRight .warn {
  margin-right: 20px;
}

.top .topRight .userPart {
  margin-left: 58px;
  vertical-align: middle;
}

.loginBanner .banner {
  display: inline-block;
  width: 990px;
}

.loginBanner .loginDetail {
  float: right;
  padding: 153px 115px 0px 0px;
}

.loginBanner .loginDetail .userLogin {
  height: 36px;
  color: #1f5dea;
  font-size: 36px;
  padding: 37px 0;
}

.loginBanner .loginDetail label {
  display: block;
  font-size: 12px;
  color: #aaaebb;
  margin: 11px 0;
}

.loginBanner .loginDetail input {
  display: block;
  height: 42px;
  width: 320px;
  background: #eff0f4;
  border-radius: 5px;
  outline: none;
  border: none;
  padding-left: 15px;
}

.loginBanner .loginDetail .loginClick {
  display: block;
  height: 50px;
  width: 320px;
  margin-top: 39px;
  background: #1f5dea;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
}
